<!doctype html>
<html lang="vn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="vn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/admin-index.css" rel="stylesheet">
    <link href="/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"  rel="stylesheet">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {{> admin_header}}
        <div class="app-main">
            {{> admin_sidebar}}
             <div class="app-main__outer">
               <div class="app-main__inner">
                   <div class="row">
                        <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Search {{type}}</div>
                                     {{#myIf type '===' 'websites'}}
                                        <form action="" class="p-3 form_search_website">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="name" class="">Name</label>
                                                        <input name="name" id="name" placeholder="" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                 <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="author" class="">Author</label>
                                                        <input name="author" id="author" placeholder="" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="numOfCols" class="">Number of columns</label>
                                                        <input name="numOfCols" id="numOfCols" placeholder="" type="number" min="0" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="field" class="">Field</label>
                                                        <input autocomplete="off"  list="fields" name="field" id="field" placeholder="" type="text" class="form-control ajax-find" data-find="fields">
                                                        <div id='fields' class="inputDropdown disabled"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="country" class="">Country</label>
                                                        <input autocomplete="off" list="countries" name="country" id="country" placeholder="" type="text" class="form-control ajax-find" data-find="Countries" >
                                                        <div id='countries' class="inputDropdown disabled"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="color" class="">Color</label>
                                                        <input autocomplete="off" list="colors" name="color" id="color" placeholder="" type="text" class="form-control ajax-find" data-find="colors">
                                                        <div id='colors' class="inputDropdown disabled"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="position-relative form-group">
                                                        <label for="trend" class="">Trend</label>
                                                        <input autocomplete="off" list="trends" name="trend" id="trend" placeholder="" type="text" class="form-control ajax-find" data-find="trends">
                                                        <div id="trends" class="inputDropdown disabled"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="min_price">Price</label>
                                                    <input name="minPrice" id="min_price" type="number" min="0" value="0" class="form-control"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <label></label>
                                                    <input name="maxPrice" type="number" min="0" value="9999999999" class="form-control"/>
                                                </div>
                                            </div>
                                            <input type="hidden" value="{{csrfToken}}" name="_csrf" />
                                            <div class="d-block text-center card-footer">
                                                <button class="btn-wide btn btn-success">Search</button>
                                            </div>
                                        </form>
                                    {{else}}
                                         <form action="" class="p-3 form_search_news">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="title" class="">Title</label>
                                                        <input name="title" id="title" placeholder="" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                 <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="author" class="">Author</label>
                                                        <input name="author" id="author" placeholder="" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                     <div class="position-relative form-group tags">
                                                        <label for="tags" class="">Tags</label>
                                                        <input name="tags" id="tags" placeholder="" type="text" class="form-control" data-role="tagsinput">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="position-relative form-group">
                                                        <label for="keywords" class="">Keywords</label>
                                                        <input name="keywords" id="keywords" placeholder="" type="text" class="form-control" data-role="tagsinput">     
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-block text-center card-footer">
                                                <button class="btn-wide btn btn-success">Search</button>
                                            </div>
                                        </form>
                                    {{/myIf}}
                                </div>
                        </div>
                   </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">List of {{type}}
                                        <div class="ml-md-5">
                                            <span id='countDocument'>{{count}}</span> / <span id='totalCountDocument'>{{totalCount}} </span>
                                        </div>                  
                                        <div class="btn-actions-pane-right">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="btn-wide btn btn-outline-danger disabled btn-remove" data-toggle="modal" data-target="#form_remove_web_new">
                                                    Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            {{#myIf type '===' 'websites'}}
                                                <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <div class="widget-content p-0">
                                                            <input type="checkbox" class="" data-checked='all' />
                                                         </div>
                                                    </th>
                                                    <th>Name</th>
                                                    <th class="text-center">Price</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each data}}
                                                        <tr id="{{_id}}">
                                                            <td class="text-center">
                                                                <div class="widget-content px-1 py-0">
                                                                    <input type="checkbox" class="" data-id="{{_id}}" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-content p-0">
                                                                    <div class="widget-content-wrapper">
                                                                        <div class="widget-content-left flex2">
                                                                            <div class="widget-heading">{{name}}</div>
                                                                            <div class="widget-subheading opacity-7">{{author}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">{{formatNumber price}} đ</td>
                                                            <td class="text-center">
                                                                <a href='/admin/websites/modify/{{_id}}' type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Modify</a>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            {{else}}
                                                <thead>
                                                <tr>
                                                    <th class="text-center">
                                                         <div class="widget-content p-0">
                                                            <input type="checkbox" class="" data-checked='all' />
                                                         </div>
                                                    </th>
                                                    <th>Title</th>
                                                    <th class="text-center">Views</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each data}}
                                                        <tr id="{{_id}}">
                                                            <td class="text-center">
                                                                <div class="widget-content px-1 py-0">
                                                                    <input type="checkbox" class="" data-id="{{_id}}" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-content p-0">
                                                                    <div class="widget-content-wrapper">
                                                                        <div class="widget-content-left flex2">
                                                                            <div class="widget-heading">{{title}}</div>
                                                                            <div class="widget-subheading opacity-7">{{author}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">{{points}}</td>
                                                            <td class="text-center">
                                                                <a href='/admin/news/modify/{{_id}}' type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Modify</a>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            {{/myIf}}
                                        </table>
                                    </div>
                                        {{#myIf count "<" totalCount}}
                                            <div class="d-block text-center card-footer" id="load_more_web-news">
                                                <button class="btn-wide btn btn-success" data-url="/admin/{{type}}?" data-type="{{type}}">Load more</button>
                                            </div>
                                        {{/myIf}}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jQuery.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin.js"></script>
    <script type="text/javascript" src="/bootstrap-tagsinput/dist/typeahead.js"></script>
    <script type="text/javascript" src="/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin-minh.js"></script>
    
    <div class="modal fade" id="form_remove_web_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove {{type}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to remove these {{type}}?
            </div>
            <div class="modal-footer">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-type={{type}} data-url="/admin/{{type}}/delete" id="remove_website_new">Remove</button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>