<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300&display=swap"
        rel="stylesheet">
    <script src="/javascripts/fontawsome5/js/all.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
    <!--- MAIN HEADER --->
    {{> header}}
    <!--- END MAIN HEADER --->

    <!-- SIDEBAR -->
    {{> sidebar}}
    <!-- END SIDEBAR -->

    <!-- MAIN CONTENT -->
    <div id="main-content">
        <div class="hero">
            {{#if newWebsites}}
            <div class="products-row">
                <h3 class="title">Mới Nhất</h3>
                <div class="title-divider">
                    <div class="line"></div>
                    <div class="dot"></div>
                </div>

                {{> filterRow}}

                <div class="products-grid">
                    {{#each newWebsites}}
                    <a class="product" href="/websites/{{_id}}">
                        <div class="product-card">
                            <div class="img-wrapper">
                                <img class="image" src="{{images.[0]}}" alt="">
                            </div>
                            <div class="content">
                                <h3 class="name">{{name}}</h3>
                                <div class="row">
                                    <span class="location f-left" style="text-transform: capitalize;">Quốc gia :
                                        {{country}}</span>
                                    <span class="date f-right">{{#dd_mm_yyyy createdDate}}{{/dd_mm_yyyy}}</span>
                                </div>
                                <div class="row">
                                    <section class="author f-left">
                                        <div class="avatar">
                                        </div>
                                        <span class="auth-name"><strong>{{author}}</strong></span>
                                    </section>
                                    <div class="field f-right">
                                        <span>{{field}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if careWebsites}}
            <div class="products-row">
                <h3 class="title">Quan tâm nhất</h3>
                <div class="title-divider">
                    <div class="line"></div>
                    <div class="dot"></div>
                </div>

                {{> filterRow}}

                <div class="products-grid">
                    {{#each careWebsites}}
                    <a class="product" href="/websites/{{_id}}">
                        <div class="product-card">
                            <div class="img-wrapper">
                                <img class="image" src="{{images.[0]}}" alt="">
                            </div>
                            <div class="content">
                                <h3 class="name">{{name}}</h3>
                                <div class="row">
                                    <span class="location f-left" style="text-transform: capitalize;">Quốc gia :
                                        {{country}}</span>
                                    <span class="date f-right">{{#dd_mm_yyyy createdDate}}{{/dd_mm_yyyy}}</span>
                                </div>
                                <div class="row">
                                    <section class="author f-left">
                                        <div class="avatar">
                                        </div>
                                        <span class="auth-name"><strong>{{author}}</strong></span>
                                    </section>
                                    <div class="field f-right">
                                        <span>{{field}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if worldWebsites}}
            <div class="products-row">
                <h3 class="title">Thế Giới</h3>
                <div class="title-divider">
                    <div class="line"></div>
                    <div class="dot"></div>
                </div>

                {{> filterRow}}

                <div class="products-grid">
                    {{#each worldWebsites}}
                    <a class="product" href="/websites/{{_id}}">
                        <div class="product-card">
                            <div class="img-wrapper">
                                <img class="image" src="{{images.[0]}}" alt="">
                            </div>
                            <div class="content">
                                <h3 class="name">{{name}}</h3>
                                <div class="row">
                                    <span class="location f-left" style="text-transform: capitalize;">Quốc gia :
                                        {{country}}</span>
                                    <span class="date f-right">{{#dd_mm_yyyy createdDate}}{{/dd_mm_yyyy}}</span>
                                </div>
                                <div class="row">
                                    <section class="author f-left">
                                        <div class="avatar">
                                        </div>
                                        <span class="auth-name"><strong>{{author}}</strong></span>
                                    </section>
                                    <div class="field f-right">
                                        <span>{{field}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>

        <!-- CUSTOMER REVIEW -->
        {{> customerReviews}}
        <!-- END CUSTOMER REVIEW -->

        <!-- CUSTOMER QUESTIONS -->
        {{> customerQuestions}}
        <!-- END CUSTOMER QUESTIONS -->

        <!-- WEBSITE THEME LIST -->
        {{> websiteThemeList}}
        <!-- END WEBSITE THEME LIST -->

        <!-- NEWS FEED -->
        <div class="hero">
            {{#if news}}
            <div class="products-row news">
                <h3 class="title">Tin Tức</h3>
                <div class="title-divider">
                    <div class="line"></div>
                    <div class="dot"></div>
                </div>

                {{> filterRow}}

                <div class="products-grid news">
                    {{#each news}}
                    <a class="product" href="/tin-tuc/{{_id}}">
                        <div class="product-card">
                            <div class="img-wrapper">
                                <img class="image" src="{{avatar}}" alt="">
                            </div>
                            <div class="content">
                                <h3 class="name">{{title}}</h3>
                                <div class="row">
                                    <span class="tags f-left"><strong>Tags :</strong> {{#each tags}}
                                        {{this}},{{/each}}...</span>
                                    <span class="date f-right">{{#dd_mm_yyyy createdDate}}{{/dd_mm_yyyy}}</span>
                                </div>
                                <div class="row">
                                    <section class="author f-left">
                                        <div class="avatar">
                                        </div>
                                        <span class="auth-name"><strong>{{author}}</strong></span>
                                    </section>
                                    <div class="keywords f-right">
                                        <div class="keyword">{{keywords.[0]}}</div>
                                        <div class="keyword">{{keywords.[1]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        <!-- END NEWS FEED -->
        <!-- BANNER -->
        {{!-- <div class="banner">
            <img src="./images/ourteam.PNG" alt="super-team">
        </div> --}}
        <!-- END BANNER -->
    </div>
    <!-- END MAIN CONTENT -->

    <!-- FOOTER -->
    {{> footer}}
    <!-- END FOOTER -->
    <script src="/javascripts/homepage.js"></script>
</body>

</html>